{% extends 'mailing/base.html' %}

{% block content %}
<br>
<nav class="pagination justify-content-center" aria-label="dark">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="container" style="width: 30rem;">
    <div class="row">
        <h1>Список рассылок</h1>
    </div>
    <div class="row">
        <a href="{% url 'mailing:mailing_create' %}" class="btn btn-dark"><h4>Добавить рассылку</h4></a>
    </div>
    {% for object in object_list %}
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Дата рассылки: {{ object.date_time_attempt }}</li>
            <li class="list-group-item">Дата окончания рассылки: {{ object.date_time_threshold }}</li>
            <li class="list-group-item">Периодичность в секундах: {{ object.period }}</li>
            <li class="list-group-item">Статус: {{ object.status }}</li>
            <li class="list-group-item">Сообщение: {{ object.message }}</li>
            <li class="list-group-item">Список клиентов:</li>
            {% for client in object.client.all %}
            <li class="list-group-item">Клиент: {{ client }}</li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col-3" style="width: 10rem;">
                {% if user.is_superuser or user == object.owner %}
                <a href="{% url 'mailing:mailing_update' object.pk %}" class="btn btn-outline-light btn-sm">Редактировать</a>
            </div>
                {% endif %}
                {# Если пользователь - суперюзер, владелец, и в группе managers, то будет доступ к редактированию #}
                {% if user.is_superuser or user == object.owner or request.user.is_in_manager_group  %}
            <div class="col-3" style="width: 10rem;">
                <a href="{% url 'mailing:mailing_detail' object.pk %}" class="btn btn-outline-light btn-sm">Просмотр</a>
            </div>
                {% endif %}
                {% if user.is_superuser or user == object.owner %}
            <div class="col-3" style="width: 10rem;">
                <a href="{% url 'mailing:mailing_delete' object.pk %}" class="btn btn-outline-light btn-sm">Удалить</a>
            </div>
                {% endif %}
            <div class="col-3" style="width:10">
            {% if request.user.is_in_manager_group %}
                {% if object.is_active %}
                <a class="btn btn-outline-light btn-sm" href="{% url 'mailing:toggle_activity' object.pk %}">Деактивировать</a>
                {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'mailing:toggle_activity' object.pk %}">Активировать</a>
                {% endif %}
            {% endif %}
                </div>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}