{% extends 'mailing/base.html' %}
{% block content %}
{% load main_page %}
<main class="px-3">
    <h1>Блог</h1>
    <br>
    <nav class="pagination justify-content-center" aria-label="dark">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% for blog in object_list %}

    <table class="border border-secondary">
        <tbody>
        <tr class="border border-secondary">
            <td colspan="2">
                <img src="{% get_default_picture blog.picture %}" class="card-img-top" alt="blog">
            </td>
        </tr>
        <tr class="border border-secondary">
            <td>Заголовок</td>
            <td>{{ blog.title }}</td>
        </tr>
        <tr class="border border-secondary">
            <td>Тело блога</td>
            <td>{{ blog.body_blog|slice:':30' }}...</td>
        </tr>
        <tr class="border border-secondary">
            <td>Счетчик просмотров</td>
            <td>{{ blog.count_view }}</td>
        </tr>
        <tr class="border border-secondary">
            <td>Дата</td>
            <td>{{ blog.posted_date }}</td>
        </tr>
        <tr class="border border-secondary">
            <td>
                <a href="{% url 'blog:blog_detail' blog.id %}">Подробнее</a>
            </td>
        </tr>
        </tbody>
    </table>

    {% endfor %}

</main>
{% endblock %}