{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Создание клиента</h1>
    </div>
    <div class="row">
        <a href="{% url 'clients:client_list' %}" class="btn btn-dark">Вернуться к списку клиентов</a>
    </div>
    <div class="row">
        {% if object %}
        <form action="{% url 'clients:client_update' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Сохранить изменения</button>
        </form>
        {% else %}
        <form action="{% url 'clients:client_create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Создать клиента</button>
        </form>
        {% endif %}
    </div>
</div>


{% endblock %}