<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0"><a class="nav-link active" aria-current="page"
                                           href="{% url 'main:main_page' %}">Sky рассылки</a></h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            {% if TOPIC_TUPLE.0 == topic_name %}
            <a class="nav-link active" aria-current="page" href="{% url 'clients:client_list' %}">Наши клиенты</a>
            {% else %}
            <a class="nav-link" aria-current="page" href="{% url 'clients:client_list' %}">Наши клиенты</a>
            {% endif %}

            {% if TOPIC_TUPLE.1 == topic_name %}
            <a class="nav-link active" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
            {% else %}
            <a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
            {% endif %}

            {% if TOPIC_TUPLE.2 == topic_name %}
            <a class="nav-link active" href="{% url 'communications:communication_list' %}">Сообщения</a>
            {% else %}
            <a class="nav-link" href="{% url 'communications:communication_list' %}">Сообщения</a>
            {% endif %}

            {# Блок проверки авторизован пользователь или нет #}
            {% if request.user.is_authenticated %}
            <h5 class="btn btn-outline-light btn-sm"><a href="{% url 'users:profile' user.pk %}">
                {{ user.username }}</a></h5>
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">Выйти</button>
            </form>
            {% else %}
                {% if TOPIC_TUPLE.3 == topic_name %}
                <a class="nav-link active" href="{% url 'users:login' %}">Авторизация</a>
                {% else %}
                <a class="nav-link" href="{% url 'users:login' %}">Авторизация</a>
                {% endif %}
            {% endif %}












        </nav>
    </div>
</header>