  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><a class="nav-link active" aria-current="page" href="{% url 'main:main_page' %}">Sky рассылки</a></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'clients:client_list' %}">Наши клиенты</a>
        <a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
        <a class="nav-link" href="#">Сообщения</a>
      </nav>
    </div>
  </header>